.footer__nav {
  height: 100px;
  width: 100%;
  padding: 5px 0 5px 0;
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: $light-firstcolor;
  justify-content: space-around;
  &__item {
    height: 100%;
    width: 23%;
    font-size: 3em;
    background-color: $light-firstcolor;
    border: none;
    color: $dark-firstcolor;
    outline: none;
    &:active {
      color: $dark-secondcolor;
    }
  }
}
