<main id="main">
  <!-- <div class="box">
    <div class="box__image">
      <img
        src="https://i-love-png.com/images/1516736773745713231free-bloody-mary-clipart.hi.png"
        alt=""
        class="crop-center "
      />
    </div>
    <div class="box__content">
      <ul class="box__content__list">
        <li class="box__content__list__headline">Zombie</li>
        <li class="box__content__list__link">
          <a href="./pages/ingredients.html"> See all ingredients</a>
        </li>
        <li class="box__content__list__category">#alcoholic</li>
        <li class="box__content__list__strength">
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--nonalcohol"></i>
        </li>
      </ul>
    </div>
    <div class="box__favorites">
      <a href="#"><i class="fas fa-thumbs-up"></i></a>
    </div>
  </div>

  <div class="box">
    <div class="box__image">
      <img
        src="https://i-love-png.com/images/1516736773745713231free-bloody-mary-clipart.hi.png"
        alt=""
        class="crop-center "
      />
    </div>
    <div class="box__content">
      <ul class="box__content__list">
        <li class="box__content__list__headline">Zombie</li>
        <li class="box__content__list__link">
          <a href="./pages/ingredients.html"> See all ingredients</a>
        </li>
        <li class="box__content__list__category">#alcoholic</li>
        <li class="box__content__list__strength">
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--nonalcohol"></i>
        </li>
      </ul>
    </div>
    <div class="box__favorites">
      <a href="#"><i class="fas fa-thumbs-up"></i></a>
    </div>
  </div>
  <div class="box">
    <div class="box__image">
      <img
        src="https://i-love-png.com/images/1516736773745713231free-bloody-mary-clipart.hi.png"
        alt=""
        class="crop-center "
      />
    </div>
    <div class="box__content">
      <ul class="box__content__list">
        <li class="box__content__list__headline">Zombie</li>
        <li class="box__content__list__link">
          <a href="./pages/ingredients.html"> See all ingredients</a>
        </li>
        <li class="box__content__list__category">#alcoholic</li>
        <li class="box__content__list__strength">
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--nonalcohol"></i>
        </li>
      </ul>
    </div>
    <div class="box__favorites">
      <a href="#"><i class="fas fa-thumbs-up"></i></a>
    </div>
  </div>

  <div class="box">
    <div class="box__image">
      <img
        src="https://i-love-png.com/images/1516736773745713231free-bloody-mary-clipart.hi.png"
        alt=""
        class="crop-center "
      />
    </div>
    <div class="box__content">
      <ul class="box__content__list">
        <li class="box__content__list__headline">Zombie</li>
        <li class="box__content__list__link">
          <a href="./pages/ingredients.html"> See all ingredients</a>
        </li>
        <li class="box__content__list__category">#alcoholic</li>
        <li class="box__content__list__strength">
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--nonalcohol"></i>
        </li>
      </ul>
    </div>
    <div class="box__favorites">
      <a href="#"><i class="fas fa-thumbs-up"></i></a>
    </div>
  </div>
  <div class="box">
    <div class="box__image">
      <img
        src="https://i-love-png.com/images/1516736773745713231free-bloody-mary-clipart.hi.png"
        alt=""
        class="crop-center "
      />
    </div>
    <div class="box__content">
      <ul class="box__content__list">
        <li class="box__content__list__headline">Zombie</li>
        <li class="box__content__list__link">
          <a href="./pages/ingredients.html"> See all ingredients</a>
        </li>
        <li class="box__content__list__category">#alcoholic</li>
        <li class="box__content__list__strength">
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--nonalcohol"></i>
        </li>
      </ul>
    </div>
    <div class="box__favorites">
      <a href="#"><i class="fas fa-thumbs-up"></i></a>
    </div>
  </div>

  <div class="box">
    <div class="box__image">
      <img
        src="https://i-love-png.com/images/1516736773745713231free-bloody-mary-clipart.hi.png"
        alt=""
        class="crop-center "
      />
    </div>
    <div class="box__content">
      <ul class="box__content__list">
        <li class="box__content__list__headline">Zombie</li>
        <li class="box__content__list__link">
          <a href="./pages/ingredients.html"> See all ingredients</a>
        </li>
        <li class="box__content__list__category">#alcoholic</li>
        <li class="box__content__list__strength">
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--nonalcohol"></i>
        </li>
      </ul>
    </div>
    <div class="box__favorites">
      <a href="#"><i class="fas fa-thumbs-up"></i></a>
    </div>
  </div>
  <div class="box">
    <div class="box__image">
      <img
        src="https://i-love-png.com/images/1516736773745713231free-bloody-mary-clipart.hi.png"
        alt=""
        class="crop-center "
      />
    </div>
    <div class="box__content">
      <ul class="box__content__list">
        <li class="box__content__list__headline">Zombie</li>
        <li class="box__content__list__link">
          <a href="./pages/ingredients.html"> See all ingredients</a>
        </li>
        <li class="box__content__list__category">#alcoholic</li>
        <li class="box__content__list__strength">
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--alcohol"></i>
          <i class="fas fa-cocktail icon--nonalcohol"></i>
        </li>
      </ul>
    </div>
    <div class="box__favorites">
      <a href="#"><i class="fas fa-thumbs-up"></i></a>
    </div>
  </div> -->
</main>
